#----------------------------------------
[THEME]
background_mode = color
background_color = #000000
time_color = white
date_color = white
time_font = digital 120
date_font = digital 60
transparency = 1.0
always_on_top = True
background_url = https://picsum.photos/1920/1080
#----------------------------------------
[COLORS]
# black = #000000
# white = #FFFFFF
# red = #FF0000
green = #00FF00
# blue = #0000FF
# yellow = #FFFF00
# cyan = #00FFFF
# magenta = #FF00FF
# orange = #FFA500
# purple = #800080
# pink = #FFC0CB
# sky_blue = #87CEEB
# dark_gray = #1E1E1E
# neon_green = #39FF14
# lime = #32CD32
# gold = #FFD700
# aqua = #00CED1
# violet = #EE82EE
# hot_pink = #FF69B4
# turquoise = #40E0D0
#----------------------------------------
[FONTS]
digital = DS-Digital
roboto = Roboto
helvetica = Helvetica
consolas = Consolas
courier = Courier
times = Times New Roman
#----------------------------------------